:root {
    --bg-gradient-1: hsla(0, 0%, 100%, 0.5);
    --bg-gradient-2: hsla(0, 100%, 65%, 0.5);
    --bg-gradient-3: hsla(0, 0%, 0%, 0.5);
}

body {
    background: linear-gradient(
                    45deg, 
                    var(--bg-gradient-1) 5%,
                    var(--bg-gradient-2) 50%,
                    var(--bg-gradient-1) 100%
                );
    background-attachment: fixed;
    min-height: 100vh;
}